{% extends 'base.html' %}
{% block title %}Gerenciamento de Pacientes - Criar conta{% endblock %}
{% block content %}

<h1>Criar conta</h1>

<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                <input type="text" class="form-control" name="{{ form.first_name.html_name }}" id="{{ form.first_name.id_for_label }}" placeholder="{{ form.first_name.help_text }}" {% if form.first_name.value %} value="{{ form.first_name.value }}" {% endif %}>
            </div>
            {% if form.first_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.first_name.errors }}
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                <input type="text" class="form-control" name="{{ form.last_name.html_name }}" id="{{ form.last_name.id_for_label }}" placeholder="{{ form.last_name.help_text }}" {% if form.last_name.value %} value="{{ form.last_name.value }}" {% endif %}>
            </div>
            {% if form.last_name.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.last_name.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
                <input type="text" class="form-control" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" placeholder="{{ form.username.help_text }}" {% if form.username.value %} value="{{ form.username.value }}" {% endif %}>
            </div>
            {% if form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.username.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                <input type="email" class="form-control" name="{{ form.email.html_name }}" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.help_text }}" {% if form.email.value %} value="{{ form.email.value }}" {% endif %}>
            </div>
            {% if form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.email.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                <input type="password" class="form-control" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" placeholder="{{ form.password.help_text }}">
            </div>
            {% if form.password.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.password.errors }}
                </div>
            {% endif %}
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="{{ form.password_validation.id_for_label }}">{{ form.password_validation.label }}</label>
                <input type="password" class="form-control" name="{{ form.password_validation.html_name }}" id="{{ form.password_validation.id_for_label }}" placeholder="{{ form.password_validation.help_text }}">
            </div>
            {% if form.password_validation.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.password_validation.errors }}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="col-12">    
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
</form>

{% endblock %}