{% extends 'base.html' %}
{% block title %}Gerenciamento de Pacientes - Acessar o sistema{% endblock %}
{% block content %}

<h1>Acessar o sistema</h1>

<form>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="inputUsername">Nome de usuário</label>
                <input type="text" class="form-control" id="inputUsername" placeholder="Digite aqui o nome de usuário">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="inputPassword">Senha</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Digite aqui a senha">
                <small id="passwordHelp" class="form-text text-muted">Nunca compartilhe a sua senha com ninguém.</small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </div>
    </div>
</form>

{% endblock %}