version: '3.7'

services:
  db:
    image: postgres
    volumes:
        # - data:/var/lib/postgresql/data:rw
        - ./scripts/db:/docker-entrypoint-initdb.d:rw
  app:
    build: .
    command: bash -c "chmod +x scripts/run/dev.sh && ./scripts/run/dev.sh"
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
