{% extends 'base.html' %}
{% block content %}

<script>
    $(document).ready(function($) {
        $(".table-row").click(function() {
            window.document.location = $(this).data("href");
        });
    });
</script>

<div class="row">

    <div class="col-12">
        <h2>Pacientes encontrados</h2>
        <br>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome completo</th>
                    <th scope="col">Data de nascimento</th>
                </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
                    <tr class="table-row" data-href="/paciente/atualizar/{{ patient.pk }}" style="cursor: pointer;">
                        <td>{{ patient.get_full_name }}</td>
                        <td>{{ patient.birthdate.date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="row">

    <div class="col-10">
        <h5>Foram encontrados {{number}} pacientes </h5>
    </div>
    <div class="col-2">
        <a class="btn btn-primary btn-lg" href="/">Voltar</a>
    </div>

</div>

{% endblock %}
