{% extends 'base.html' %}

{% block content %}
<div class="content">
      <h2>Consultas anteriores de {{patient_triage.patient.get_full_name}}</h2>
      <hr>
      <table class="center">
        <tr>
          <th>Queixa Principal</th>
          <th>Data de Atendimento</th>
          <th>Médico Responsável</th>
          <th>Parecer Médico</th>
        </tr>
        {% for consultation in consultations %}
            <tr>
              <td>{{ consultation.patient_triage.triage.main_complaint }}</td>
              <td>{{ consultation.created_at }}</td>
              <td>{{ consultation.medic.name }}</td>
              <td>{{ consultation.medical_opinion }}</td>
            </tr>
        {% endfor %}
      </table>
</div>
<a class="btn btn-primary btn-lg" href="/paciente/consulta/{{ patient_triage.pk }}/">Voltar</a>
{% endblock %}
