{% extends 'base.html' %}

{% block content %}

<h2 id="id_titulo" style="text-align:center; margin-top: 30px;">Ficha do Paciente</h2>
<hr>

<form method="post">
    {% csrf_token %}

    <div class="row">

        <div class="col-9">

            <div class="row">
                <div class="col-3">
                    <h6>Nome completo:</h6>
                    <p class="font_cadastro">{{ patient.get_full_name }}</p>
                </div>
                <div class="col-3">
                    <h6>Data de nascimento:</h6>
                    <p class="font_cadastro">{{ patient.birthdate.date }}</p>
                </div>
                <div class="col-3">
                    <h6>Idade:</h6>
                    <p>{{ patient.calculateAge }} anos</p>
                </div>
                <div class="col-3">
                    <h6>Gênero:</h6>
                    {% if patient.gender == 'M' %}
                        <p class="font_cadastro">Masculino</p>
                    {% elif patient.gender == 'F' %}
                        <p class="font_cadastro">Feminino</p>
                    {% elif patient.gender == 'O' %}
                        <p class="font_cadastro">Outros</p>
                    {% endif %}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-3">
                    <h6>Medicações contínuas:</h6>
                    <ul>
                        {% for medication in triage.get_continuos_medication %}
                            <li>{{ medication }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-3">
                    <h6>Alergias:</h6>
                    <ul>
                        {% for allergy in triage.get_alergies %}
                            <li>{{ allergy }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-6">
                    <h6>Diagnósticos prévios:</h6>
                    <ul>
                        {% for diagnosis in triage.get_previous_diagnosis %}
                            <li>{{ diagnosis }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-3">
                    <h6>Temperatura:</h6>
                    {% if triage.body_temperature != -1000.0 %}
                        <p>{{ triage.body_temperature }} ºC</p>
                    {% else %}
                        <p>Erro na medição</p>
                    {% endif %}
                </div>
                <div class="col-3">
                    <div class="row">
                        <div class="col-6">
                            <h6>Massa:</h6>
                            {% if triage.body_mass != -1000.0 %}
                                <p>{{ triage.body_mass }} kg</p>
                            {% else %}
                                <p>Erro na medição</p>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h6>Altura:</h6>
                            {% if triage.height != -1000 %}
                                <p>{{ triage.height }} cm</p>
                            {% else %}
                                <p>Erro na medição</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <h6>Pressão sanguínea:</h6>
                    {% if triage.get_blood_pressure_formatted != '-1000' %}
                        <p>{{ triage.get_blood_pressure_formatted }} mmHg</p>
                    {% else %}
                        <p>Erro na medição</p>
                    {% endif %}
                </div>
                <div class="col-3">
                    <h6>Oximetria:</h6>
                    {% if triage.blood_oxygen_level != -1000.0 %}
                        <p>{{ triage.blood_oxygen_level }}%</p>
                    {% else %}
                        <p>Erro na medição</p>
                    {% endif %}
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-3">
                    <h6>Sintomas principais:</h6>
                    <ul>
                        {% for complaint in triage.get_main_complaint %}
                            <li>{{ complaint }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-3">
                    <h6>Classificação de risco:</h6>
                    <button style="background-color: {{ triage_risk.background_color }}; border: none; color: white; padding: 10px 50px; text-align: center; text-decoration: none; display: inline-block; font-size: 16px; color: {{ triage_risk.text_color }};"><b>{{ triage_risk.text }}</b></button>
                </div>
                <div class="col-6">
                    <h6>Horário da triagem:</h6>
                    <p>{{ triage.created_at }}</p>
                </div>
            </div>

        </div>

        <div class="col-3">

            <div class="row">
                <div class="form-group">
                    <label for="{{ form.medical_opinion.id_for_label }}">{{ form.medical_opinion.label }}</label>
                    <textarea required type="textarea" class="form-control" name="{{ form.medical_opinion.html_name }}" id="{{ form.medical_opinion.id_for_label }}" placeholder="{{ form.medical_opinion.help_text }}">{% if form.medical_opinion.value %}{{ form.medical_opinion.value }}{% endif %}</textarea>
                </div>
                {% if form.medical_opinion.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.medical_opinion.errors }}
                    </div>
                {% endif %}
            </div>

            <div class="row">
                <div class="form-group">
                    <label for="{{ form.is_patient_released.id_for_label }}">{{ form.is_patient_released.label }}</label>
                    <!-- <input required type="text" class="form-control" name="{{ form.is_patient_released.html_name }}" id="{{ form.is_patient_released.id_for_label }}" placeholder="{{ form.is_patient_released.help_text }}" {% if form.is_patient_released.value %} value="{{ form.is_patient_released.value }}" {% endif %}> -->
                    <br>
                    {{ form.is_patient_released }}
                </div>
                {% if form.is_patient_released.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.is_patient_released.errors }}
                    </div>
                {% endif %}
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-5">
            <a class="btn btn-primary btn-lg" href="/paciente/consultas/{{ patient.pk }}/">Visualizar atendimentos anteriores</a>
        </div>
        <div class="col-5">
          {% if has_eletrocardiogram %}
            <a class="btn btn-info btn-lg" href="/paciente/eletrocardiograma/{{ patient.pk }}/">Exame de Eletrocardiograma</a>
          {% endif %}
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-lg">Atualizar atendimento</button>
        </div>
    </div>

</form>


{% endblock %}
