{% extends 'base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger" role="alert">
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
    {% endif %}
<div style="margin-left:320px; margin-bottom: 40px; margin-top: 20px;">
    <h2 id="id_titulo" style="text-align:center">Ficha do Paciente</h2>
    <hr>
</div>

<div style="width: 100%; overflow: hidden;"></div>
  <div style="min-width: 600px; float: left;">
    <div class="table-responsive">
    <table class="table table-borderless">
          <tr>
            <td>
              <h6>Nome completo:  </h6>
              <p class="font_cadastro" >{{ patient.get_full_name}} </p>
            </td>
            <td>
              <h6>Data de Nascimento:  </h6>
              <p class="font_cadastro" >{{ patient.birthdate.date}} </p>
            </td>
            <td>
              <h6>Idade:  </h6>
              <p class="font_cadastro" >{{ patient.calculateAge}} </p>
            </td>
          </tr>
          <tr>
            <td>
              <h6>Medicações:</h6>
              <p>{{triage.continuos_medication}}</p>
            </td>
            <td>
              <h6>Alergias:</h6>
              <p>{{triage.alergies}}</p>
            </td>
            <td>
                  <h6>Diagnósticos Prévio: </h6>
                  <p>{{triage.previous_diagnosis}}</p>
            </td>
          </tr>
          <tr>
            <td>
              <h6>Temperatura Corporal:</h6>
              <p>{{triage.body_temperature}}</p>
            </td>
            <td>
              <table>
                <tr >
                  <td style="padding-top: 0;  padding-bottom: 0;"><h6>Massa:</h6></td>
                  <td style="padding-top: 0;  padding-bottom: 0;"><h6>Altura: </h6></td>
                </tr>
                <tr>
                  <td style="padding-top: 0;"><p>{{triage.body_mass}} </p></td>
                  <td style="padding-top: 0;"><p>{{triage.height}}</p></td>
                </tr>
              </table>
            </td>
            <td>
              <table>
                <tr>
                  <td style="padding-top: 0;  padding-bottom: 0;"><h6>Pressão Sanguínea:</h6></td>
                  <td style="padding-top: 0; padding-bottom: 0;"><h6>Oximetria: </h6></td>
                </tr>
                <tr>
                  <td style="padding-top: 0;"><p>{{triage.blood_pressure}}</p></td>
                  <td style="padding-top: 0;"><p>{{triage.blood_oxygen_level}}</p></td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <h6>Sintomas Principais: </h6>
              <p>{{triage.main_complaint}}</p>
            </td>
            <td>
              <h6>Classificação de Risco: </h6>
                <p>{{triage.risk_level}}</p>
            </td>
            <td>
              <h6>Horário da Triagem: </h6>
              <p>{{triage.created_at}}</p>
            </td>
          </tr>
      </table>
    </div>

      <div style="width: 100%; overflow: hidden;margin-top: 20px;">
              <div style="width: 150px; float: left;">

          </div>
          <div style="margin-left: 30px;float: left;">

          </div>
          <div style="margin-left: 30px; float: left;">

          </div>
        </div>
      <div style="margin-top:5px;">
      <a class="btn btn-primary btn-lg" href="/paciente/consultas/{{ patient_triage.pk }}/">Visualizar atendimentos anteriores</a>
    </div>

  </div>

  <div style="margin-left: 680px;">
    <div>
      <p>Opinião Médica:</p>
      <p class="font_cadastro" style="font-size: 12px; margin-bottom: 0px; ">{{ form.medical_opinion }} </p>
    </div>

    <div style="min-width: 250px;">
      <p id="liberar_paciente"> Liberar paciente? </p>
      {{ form.is_patient_released }}
    </div>
    <div style="margin-top:72; margin-left: 220px;">
            <button class="btn btn-primary btn-lg">Atualizar atendimento</button>
        </div>

  </div>

</div>

{% endblock %}
