<ul class="section-nav">
    <li class="toc-entry toc-h2"><a href="#">Item 1</a></li>
    <li class="toc-entry toc-h2"><a href="#">Item 2</a>
        <ul>
            <li class="toc-entry toc-h3"><a href="#">Sub-item 1</a></li>
        </ul>
    </li>
    <li class="toc-entry toc-h2"><a href="#">Item 3</a></li>
    <li class="toc-entry toc-h2"><a href="#">Item 4</a></li>
    <li class="toc-entry toc-h2"><a href="#">Item 5</a></li>
    <li class="toc-entry toc-h2"><a href="#">Item 6</a></li>
    <li class="toc-entry toc-h2"><a href="#">Item 7</a></li>
    <li class="toc-entry toc-h2"><a href="#">Item 8</a>
        <ul>
            <li class="toc-entry toc-h3"><a href="#">Sub-item 1</a></li>
            <li class="toc-entry toc-h3"><a href="#">Sub-item 2</a></li>
        </ul>
    </li>
    <li class="toc-entry toc-h2"><a href="#">Item 9</a>
        <ul>
            <li class="toc-entry toc-h3"><a href="#">Sub-item 1</a></li>
            <li class="toc-entry toc-h3"><a href="#">Sub-item 2</a></li>
            <li class="toc-entry toc-h3"><a href="#">Sub-item 3</a></li>
        </ul>
    </li>
    <li class="toc-entry toc-h2"><a href="#">Item 10</a></li>
</ul>
