#id_last_name{
    margin-left: 0px;
}

#id_medical_opinion{
    width: 400px!important;
    height: 250px!important;
}
ul#id_is_patient_released{
    list-style: none;
}
#liberar_paciente{
    margin-top: 40px;
}